<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chasqui</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/blog/index.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--link rel="stylesheet" href="styles/main.css"-->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/admin">Mensajes</a>
          <a class="blog-nav-item active" href="/register">Registro</a>
          <a class="blog-nav-item" href="/gencsv">CSV</a>
          <a class="blog-nav-item" href="/logout">Cerrar Sesion</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Chasqui</h1>
        <p class="lead blog-description">Registro de usuarios</p>
      </div>

      <div class="alert alert-info" role="alert" style="display:{{option}};">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <span class="sr-only">OK:</span>
        Usuario registrado correctamente.
      </div>



       <div class="row">
         <div class="col-sm-8 blog-main">
             <form action="/registerAccount" method="post">
             <div>
               <label for="nombre">Nombre:</label>
               <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese nombre completo" required>
             </div>
             <div>
               <label for="correo">Correo:</label>
               <input type="email" id="correo" name="correo" class="form-control" placeholder="Ingrese su correo electronico" required>
             </div>
             <div>
               <label for="user">Usuario:</label>
               <input type="text" id="user" name="user" class="form-control" placeholder="Ingrese nombre de usuario" required>
             </div>
             <div>
               <label for="pass">Contraseña:</label>
               <input type="password" id="pass" name="pass" class="form-control" placeholder="Ingrese contraseña" required>
             </div>
             <div>
               <label for="pass1">Contraseña:</label>
               <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Repita contraseña" required>
             </div>
             <br>
             <div><button class="btn bn-primary" type="submit">Registrar</button></div>
             </form>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Bienvenido {{username}}</h4>
            <p> No olvides cerrar sesion al finalizar.</p>
          </div>
          <div class="sidebar-module">
            <!--h4>Mensajes enviados</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol-->
          </div>
          <div class="sidebar-module">
            <!--h4>Mensajes Programados</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol-->
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <br>

    <footer class="blog-footer">
      <p>webmaster: mrsblast@gmail.com</p>
    </footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!--script src="scripts/controllers/about.js"></script-->
        <!-- endbuild -->
</body>
</html>
